{% extends './admin/adminbase.html.twig' %}

{% block title %}Comptes Utilisateurs | {{ parent() }}{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-md-12 col-sm-12 ">
            <div class="x_panel">
              <div class="x_title">
                <h2>Comptes Utilisateurs</h2>
                <ul class="nav navbar-right panel_toolbox">
                    <li>
                        <a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                    </li>
                    <li>
                        <a type="button" class="link" data-toggle="modal" data-target=".bs-example-modal-lg" class="text-decoration-none float-left m-1" title="Supprimer"> <i class="fas fa-trash-alt text-danger"></i> </a>
                        {% include "./admin/user/delete.html.twig" %}
                    </li>
                    <li>
                        <a class="link" href="{{ path('app_admin_user_edit', {'id': user.id}) }}"  class="text-decoration-none float-left m-1" title="Modifier"> <i class="fas fa-edit text-warning"></i> </a>
                    </li>
                    <li>
                        <a class="link" href="{{ path('app_admin_user_index') }}" class="text-decoration-none float-left m-1" title="Accueil"><i class="fas fa-home text-primary"></i></a>
                    </li>
                    <li>
                        <a class="close-link"><i class="fa fa-close"></i></a>
                    </li>
                </ul>
                <div class="clearfix"></div>
              </div>
              <div class="x_content">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="row">
                            <div class="col-md-6">
                                <ul class="list-group">
                                    <li class="list-group-item">
                                        <p><strong>Id</strong>: {{ user.id }}</p>
                                    </li>
                                    <li class="list-group-item">
                                        <p><strong>Nom Complet</strong>: {{ user.Prenom}} {{ user.Nom }}</p>
                                    </li>
                                    <li class="list-group-item">
                                        <p><strong>Matricule</strong>: {{ user.Matricule}}</p>
                                    </li>
                                    <li class="list-group-item">
                                        <p><strong>Pseudo</strong>: {{ user.Pseudo }}</p>
                                    </li>
                                    <li class="list-group-item">
                                        <p><strong>Email</strong>: {{ user.Email }}</p>
                                    </li>
                                    <li class="list-group-item">
                                        <ol class="list-group">
                                            {% for role in user.roles %}
                                                {% if role=='ROLE_SUPERADMIN' %}
                                                    <li class="list-group-item">Super Admin</li>
                                                {% elseif role=='ROLE_ADMIN' %}
                                                    <li class="list-group-item">Admin</li>
                                                {% endif %}
                                            {% endfor %}
                                        </ol>
                                    </li>
                                </ul>   
                            </div>
                        </div>
                    </div>
                </div>
              </div>
            </div>
        </div>
    </div>
{% endblock %}
