
<div class="row">
    <div class="col-md-12 mx-auto">  
        {{form_start(form, {'attr':{'class':'form'}})}}
        <div class="col-md-4 form-floatng">
            {{form_row(form.minDate, {'attr':{'class':"form-control js-datepicker", 'required':"required"}})}}
        </div>
        <div class="col-md-4 form-floating mb-3">
          {{form_row(form.maxDate, {'attr':{'class':"form-control js-datepicker", 'required':"required"}})}}
        </div>
        <div class="col-md-4 form-floating">
          <button type="submit" class="btn btn-success">Valider <i class="fas fa-save"></i> </button>
        </div>
        {{ form_end(form) }}
    </div>
</div>
<div class="row">
    <div class="col-sm-12">
      <div class="card-box table-responsive">
        <p class="text-muted font-13 m-b-30">
          Liste des emargements
        </p>
        <table id="datatable-buttons" class="table table-striped table-bordered" style="width:100%">
          <thead>
              <tr>
                  <th class="text-center">Id</th>
                  <th class="text-center">Volontaire</th>
                  <th class="text-center">Informations</th>
              </tr>
          </thead>
          <tbody>
          {% for bilan in bilans %}
              <tr>
                  <td class="text-center">{{ dump(bilan.infoVolontaire) }}</td>
                  <td class="text-center">
                  </td>
                  <td class="text-center">
                  </td>
              </tr>
          {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
</div>