{% extends './admin/adminbase.html.twig' %}

{% block title %}Départements | {{ parent() }}{% endblock %}

{% block body %}
    <div class="x_panel">
      <div class="x_title">
        <h2>Carte Professionnelle</h2>
        <ul class="nav navbar-right panel_toolbox">
          <li>
              <a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
          </li>
          <li>
              <a href="{{ path('app_admin_departements_index') }}" title="Accueil Région" ><i class="fas fa-fw fa-home"></i></a>
          </li>
          <li>
              <a class="close-link"><i class="fa fa-close"></i></a>
          </li>
        </ul>
        <div class="clearfix"></div>
      </div>
      <div class="x_content">
        <div class="row">
          <div class="col-md-6 col-sm-10 mx-auto">
            {{form_start(form, {'attr':{'class':'form'}})}}
                <div class="form-floating mb-3">
                    {{form_row(form.affectation, {'attr':{'class':"form-control js-example-basic-single", 'required':"required"}})}}
                </div>
                <div class="form-floating mb-3">
                  {{form_row(form.date_delivrance, {'attr':{'class':"form-control js-datepicker", 'required':"required", 'autofocus':"autofocus"}})}}
                </div>
                <div class="form-floating mb-3">
                  {{form_row(form.date_expiration, {'attr':{'class':"form-control js-datepicker", 'required':"required", 'autofocus':"autofocus"}})}}
                </div>
                <div class="form-floating mb-3">
                  {{form_row(form.photo_volontaire, {'attr':{'class':"form-control dropzone"}})}}
                </div>
                <div class="form-group">
                  <button type="submit" class="btn btn-success">Valider <i class="fas fa-save"></i> </button>
                </div>
            {{ form_end(form) }}
          </div>
        </div>
      </div>
    </div>

{% endblock %}





